.login-wrapper {
  min-height: 100svh;
  width: 100%;
  background-color: #374151; /* gray-700 */
}

.login-container {
  display: flex;
  min-height: 100svh;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 0.375rem;
}

.login-card {
  width: 100%;
  max-width: 24rem;
  background-color: white;
}